@import "../../styles/variables.scss";

.questionnaire {
  min-width: 320px;

  &__list {
    padding: 0;

    list-style-type: none;
  }

  &__item {
    position: relative;

    border: 1px solid #222232;
    border-radius: 5px;

    margin: 10px auto;

    height: auto;
    transition: 1s;

    &:hover {
      border: 1px solid #f28f1b;
    }
  }

  &__title {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    color: #222322;
    margin: 7px 8px;

    text-align: left;
  }

  &__date {
    font-family: DIN Pro;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;

    color: #222322;

    margin: 9px 6px;
  }

  &__link {
    background: #f28f1b;

    border: 2px solid #f28f1b;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;

    text-align: center;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    text-decoration: none;
    color: #222322;

    margin: 15px 6px;

    &:hover,
    &:focus,
    &:target {
      text-decoration: none;
      color: #222322;
      border: 2px solid #c57316;
    }
  }
}

@media (min-width: $tablet-width) {
  .questionnaire {
    margin: 0 auto;

    &__title {
      margin: 10px 15px 5px;

      text-align: left;
    }
  }

  .item_close {
    height: 40px;
    overflow: hidden;

    .btn {
      display: none;
    }
  }
}

.item_close {
  height: 38px;
  overflow: hidden;

  .btn {
    display: none;
  }
}
.btn {
  box-shadow: 0px 1px 4px #00000040;

  height: 40px;

  &:active {
    box-shadow: 0px 1px 4px #00000096;
  }

  overflow: hidden;
}
