@import "../../styles/variables.scss";

.list-of-orders {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
  }

  &__item {
    border: 1px solid rgba(87, 87, 87, 0.5);

    height: auto;
    transition: 1s all ease;
  }

  &__title {
    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #222322;

    height: 50px;
    overflow: hidden;

    border: 1px solid rgba(87, 87, 87, 0.5);
    border-top: 0;
    border-left: 0;
    border-right: 0;

    box-sizing: border-box;


  }

  &__info {
    .info {
      &__list {
        list-style-type: none;
        padding: 0 5px 0 5px;
        margin: 0;
      }

      &__item {

        font-family: Cera Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;

        display: flex;
        align-items: center;

        color: #575757;

        padding: 10px 0 10px 0;
      }
    }

  }

  .table {
    margin-top: 20px;

    &__header:not(:first-child) {
      text-align: center;

    }

    &__header-item,
    &__body-item {
      font-family: Cera Pro;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #000000;

    }

    &__header-item {
      font-weight: bold;
    }

  }

  .item_close {
    height: 50px;
    overflow: hidden;
    transition: 1s all ease;
  }

  .item_open {
    height: auto;
    overflow: visible;
  }
}

@media (min-width: $tablet-width) {
  .list-of-orders {

    &__title {
      height: 50px;
    }

    .item_close {
      height: 50px;
      overflow: hidden;
      transition: 1s all ease;
    }
  }

  @media (min-width: $desktop-width) {
    .list-of-orders {
      &__title {
        height: 50px;
      }

      .item_close {
        height: 50px;
        overflow: hidden;
        transition: 1s all ease;
      }
    }
  }
}
