@import "../../styles/variables.scss";

.ordering-container {
  width: 330px;

  margin: 0 auto;
  margin-bottom: 30px;
}

.ordering-container .main-title {
  margin-left: 0;
}

.subtitle {
  margin-top: 15px;

  font-size: 24px;

  color: #575757;
}

.ordering-container label {
  margin-top: 5px;
  display: block;
  font-size: 20px;
  color: #222322;
  font-weight: 500;
}

.ordering-input {
  width: 85px;
  height: 50px;

  background: rgba(87, 87, 87, 0.1);
  border: 1px solid rgba(87, 87, 87, 0.5);
  box-sizing: border-box;
  border-radius: 5px;

  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  padding-left: 10px;
  color: #222322;

  transition: 1s all ease;
}

.ordering-checkbox-paragraph {
  margin: 0;
  padding: 0;

  display: flex;

  align-items: center;

  margin-right: 25px;
}

.ordering-checkbox {
  width: 45px;
  height: 45px;
  position: absolute;
  user-select: none;

  opacity: 0;
  user-select: none;
}

.ordering-checkbox-label::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  top: -35px;
  left: 267px;

  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  order: 1;
}

.ordering-checkbox:checked + .ordering-checkbox-label::after {
  background-image: url("../../img/Vector.svg");
}

.ordering__desc {
  font-size: 20px;
  font-weight: 500;
  margin-top:  -25px;
  
}
.notification--true {
  color: #748b2b;
}

.notification--false {
  color: #e61111;
}

.ordering-container .buttons-wrapper {
  width: 250px;

  margin: 0 auto;
}

.ordering-button {
  height: 50px;
}

.ordering-button a {
  text-decoration: none;
  font: inherit;
  color: #000;
}

.ordering__big-description {
  display: none;

  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Cera Pro", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.big-description__list {
  list-style: none;
}

.big-description__list li {
  margin-bottom: 10px;
}

.ordering-table {
  width: 1300px;
}

@media (min-width: $tablet-width) {
  .ordering-container {
    width: 690px;
  }
  .ordering-checkbox-label::after {
    top: 16px;
    left: 13px;
  }
  .ordering__desc{
    margin-top: 0;
  }
  .ordering-container .buttons-wrapper {
    width: 516px;

    margin: 0 auto;
  }

  .ordering-container {
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .ordering-container .buttons-wrapper {
    margin: 0;
  }

  .ordering__big-description {
    display: block;
  }
}
