$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$exam:rgba(230, 17, 17, 0.8);
$offset:rgba(112, 174, 222, 0.8);
$course-work:rgba(250, 178, 22, 0.8);
$course-project:rgba(179, 198, 20, 0.8);
$practice:rgba(87, 87, 87, 0.2);

$close-rgba:rgba(179, 198, 20, 0.8);
$open-rgba:rgba(230, 17, 17, 0.8);
$unknown-rgba:rgba(87, 87, 87, 0.2);