.login {
  margin: 0;
  padding: 0;

  background-color: #432f48;
}

.login__background {
  height: 100vh;

  background-image: url("../../img/login-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.login__wrapper {
  width: 320px;
  margin: 0 auto;

  position: relative;
}

.login__wrapper-fixed {
  position: fixed;
  top: 50%;
  left: 50%;

  margin-left: -120px;
  transform: translateY(-50%);
}

.login__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  padding: 27px 0px;

  width: 240px;

  border-radius: 10%;

  background-color: #e63e11;
}

.login__logo-image {
  height: 61px;
  width: 54px;

  margin-left: 16px;
  margin-right: 18px;
}

.login__logo-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: #ffffff;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 240px;
  height: 280px;

  border-radius: 10%;

  background-color: #ffffff;
}

.login__text {
  font-family: 'DIN Pro';
  font-size: 18px;
  color: #575757;

  padding: 0;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 26px;
}

.login__input {
  box-sizing: border-box;
  width: 185px;
  padding-left: 40px;
  padding-right: 10px;

  padding-top: 10px;
  padding-bottom: 10px;

  color: #575757;
  font-size: 14px;
  font-family: 'DIN Pro';


  background-color: #f0f0f0;
  border: none;
}

.login__input:focus .login__icon path,
.login__input:active .login__icon path {
  fill: #575757;
}

.login__field {
  position: relative;
}

.login__field svg {
  position: absolute;
  top: 9px;
  left: 10px;
}

.login__login {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.login__password {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.login__button {
  font-family: 'DIN Pro';
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  padding: 5px 63px;

  background: linear-gradient(#fab216, #f28f1b);
  border: none;
  box-shadow: 0 5px 4px 0 rgba($color: #000000, $alpha: 0.25);
}

.login__button:active,
.login__button:hover {
  transition: ease-in-out;
  transition-duration: 0.3s;
  background: linear-gradient(#f28f1b, #e63e11);
}
