#app-calendar {
  // display: grid;
  // grid-template-columns: repeat(7, 1fr);
  // grid-template-rows: repeat(5, 1fr);
  // height: 52px;
  // width: 100px;

  display: flex;
  width: 730px;

  table {
    width: 100%;
  }

  table tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  table th:last-child {
    margin-right: 0;
  }
}



.app-calendar__week {}

.app-calendar__week th {
  text-align: center;

  width: 90px;
  height: 52px;

  cursor: pointer;
}

.app-calendar__days th {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 52px;

  margin-right: 5px;
  margin-bottom: 5px;

  background-color: #70AEDE;

  cursor: pointer;
}


