#app-calendar {
  display: flex;

  table {
    width: 100%;
  }

  table tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  table th:last-child {
    margin-right: 0;
  }
}

.app-calendar__days th {
  border: 1px #5757572f solid;
}

.app-calendar__days th {
  &:active {
    border: 1px #575757 solid;
  }
  &:focus {
    border: 1px #575757 solid;
  }
  &:hover {
    border: 1px #575757 solid;
  }
}

.app-calendar__week th {
  text-align: center;

  width: 40px;
  height: 40px;

  cursor: pointer;
}

.app-calendar__days th {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  margin-right: 0;
  margin-bottom: 0;

  background-color: #70aede;

  cursor: pointer;
}

@media (min-width: 768px) {
  .app-calendar__week th {
    width: 80px;
    height: 52px;
  }
  .app-calendar__days th {
    width: 80px;
    height: 52px;
  }
}

@media (min-width: 1200px) {
  .app-calendar__week th {
    width: 100px;
    height: 52px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .app-calendar__days th {
    width: 100px;
    height: 52px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  #app-calendar {
    width: 740px;
  }
}
